.form-add-track{
    text-align: center;
    padding: 30px;
}


.name-input{
    margin-left: auto;
    margin-right: auto;
}

.name-label{
    margin-top: 25px;
}

.author-input{

}

.author-label{
    margin-top: 25px;
}

.album-label{
    margin-top: 25px;
}

.album-input{
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.name-label,
.album-label,
.author-label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}

label .label-text{
    color: #9B9B9B;
    cursor: text;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}

.name-label input,
.album-label input,
.author-label input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
}

.name-label input:focus,
.album-label input:focus,
.author-label input:focus{
    max-width: 100%;
    width: 45vh;
}

.form-track-input{
    color: gray;
    border: 2px gray;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 35px 30px;
    transition: all 0.3s;
}

.form-track-input:hover, .form-track-input:focus {
    color: black;
    border: 2px solid black;
}

